.btn {
  display: inline-block;
  margin: 5px 0;
  padding: .5em 1em;
  text-decoration: none;
  border-radius: 5px;
  font-size: 85%
}

.btn-primary {
  @extend .btn;
  background: $primary;
  color: #fff;
  border: 1px solid darken($primary, 10%);
  box-shadow: inset 0px 1px 0px rgba(white, .25);

  &:hover {
    background: darken($primary, 5%);
  }
}

.btn-small {
  @extend .btn;
  @extend .btn-primary;
  padding: 0em .5em;
  font-size: 75%;
  border-radius: 0;
}
