form {
  input[type="text"],input[type="email"],input[type="password"]{
    background: transparent;
    border: 1px solid lighten($background, 15%);
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
  }

  input[type="submit"]{
    @extend .btn;
    @extend .btn-primary;
    background: $accent;
    border: 1px solid darken($accent, 10%);
    color: #333;
    font-weight: bold;
    &:hover {
      background: darken($accent, 5%);
      border: 1px solid darken($accent, 10%);
    }
  }

  textarea{}

}
